<%- model_class = Project -%>

<table id="projects_list" class="table table-striped">
  <thead>
    <tr>
      <th>Votes</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= project.vote_count %> 
          <span style="float:right;"><%= upvote_link(project) %></span>
        </td>
        <td><%= project.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>