<div class="row-fluid">
  <div id="projects" class="span5 well">
    <h1>
      Projects
      <%= link_to "New Project", new_project_path, :class => 'btn btn-primary' %>
    </h1>

    <%= render 'list' %>
  </div>

  <div id="users" class="span7">    
    <% if user_signed_in? %>
      <%= render 'users/choices_form' %>
    <% end %>
  
    <h2>Choices</h2>

    <%= render 'users/list', users: @users %>  
  </div>
</div>
