<div class="row-fluid">
  <div id="project_list" class="span5 well">
    <h1>
      Projects
      <%= link_to "New Project", new_project_path, :class => 'btn btn-primary' %>
    </h1>

    <%= render 'list', projects: @projects %>
  </div>

  <div id="users_list" class="span7">
    <h1>
      Choices
    </h1>

    <% if user_signed_in? %>
      <hr>
      <%= render 'users/choices_form' %>
      <hr>
    <% end %>

    <%= render 'users/list', users: @users %>  
  </div>
</div>
