<div class="row-fluid">
  <div id="projects">
    <table id="projects_list" class="table table-striped">
      <thead>
        <tr>
          <th>Projects</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.member_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
