<%- model_class = Project -%>

<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_project_path,
                :class => 'btn btn-primary' %>
  </h1>
</div>

<div class="row-fluid">
  <%= render partial: 'projects/list', locals: { projects: @projects } %>

  <%= render partial: 'users/list', locals: { users: @users } %>  
</div>
